*{
     /* border: 2px solid black;  */
    font-family: "Merriweather",serif;
}

.col-sm-2.nav {
    width: 165px;
    border-top: 5px solid #000;
    margin: 6px;
   
}
.nav h3 {
    margin-top: 0;
    padding: 0;
    height: 24px;
    font-size: 18px;
    font-weight: 600;
}
button.btn.btn-subscribe {
    background-color: #b00020;
    color: #fff;
    transition: ease-out .3s;
    margin-right: 10px;
    box-shadow: inset 0 0 0 0 #fff;
    border-radius: 3px;
    border: 1px solid #b00020;
    width: 168px;
    margin-left: -10px;
}
button.btn.btn-login {
    transition: ease-out .3s;
    box-shadow: inset 0 0 0 0 #b00020;
    margin-right: 0;
    border-radius: 3px;
    width: 161px;
    margin-left: -14px;
    border: 1px solid #b00020;
}
.log{
    height: 38px;
    left: 256px;
    top: 7px;
    width: 103px;
}
.title-patch {
    color: #b00020;
    font-size: 30px;
    font-family: "Playfair Display",serif;
    font-weight: 900;
    text-align: left;
    padding: 0;
    margin: 0 0 15px;
}
.element{
        min-height: 122px;
            padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1450980392);
}
.title{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
 font-family: "Merriweather",serif;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    margin: 10px 0 20px;
    color: #000;

}
.element .author {
    display: block;
    width: 100%;
    margin: 10px 0 20px;
}
.element .author .author-name {
    color: #000;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 10px;
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
}
a.person-name {
    color: black;
    text-decoration: none;
}
.three-line-spliter {
    display: block;
    width: 100%;
    padding: 3px 0;
    margin: 20px 0;
    border-top: 1px solid rgba(0,0,0,0.1450980392);
    border-bottom: 1px solid rgba(0,0,0,0.1450980392);
}
.three-line-spliter i {
    background-color: rgba(0,0,0,0.1450980392);
    height: 1px;
    width: 100%;
    display: block;
}
.element.bigger .sub-text {
    font-size: 17px;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 10px 0;
    color: #000;
}

.person-name {
    text-decoration: none;
    border-bottom: 1px solid rgba(43,46,52,0.5647058824);
    color: #2b2e34;
    width: max-content;
    font-weight: bold;
    text-transform: uppercase;
} 
.by-line {
    font-size: 10px;
    letter-spacing: 1px;
    text-align: left;
    margin: 15px 0;
    line-height: 14px;
    text-transform: uppercase;
}
.image1{
    width: 100%;
 
  
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1450980392);
    margin-bottom: 10px;
}
.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12.after-border-right {
    border-right: 1px solid rgba(0,0,0,0.1450980392);;
}
.equal-height .col-12 {
    display: table-cell;
    vertical-align: top;
}
.timeline {
    list-style: none;
    margin: 10px 0 0;
    padding-left: 26px;
    position: relative;
}
.timeline li {
    margin: 0;
    padding-left: 0;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1450980392);
}
.time{
    display: block;
    font-size: 12px;
    font-family: "Merriweather Sans",sans-serif;
    margin: 0 0 -5px;
    width: max-content;
}

.small-link.small {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: black;
}
.element .label a {
    font-family: "Merriweather Sans",sans-serif;
    font-weight: bold;
}
.element .label {
    color: #b00020;
    text-transform: uppercase;
    font-family: "Merriweather Sans",sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 15px 0 5px;
}

.element .title2 {
    font-family: "Merriweather",serif;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    margin: 10px 0 20px;
    color: #000;
    font-weight: normal;
}
.element .title2 a{
    text-decoration: none;
    color: black;
}
section {
    display: block;
    clear: both;
    width: 100%;
    margin: 40px auto;
}
.title-patch {
    color: #b00020;
    font-size: 30px;
    font-family: "Playfair Display",serif;
    font-weight: 900;
    text-align: left;
    padding: 0;
    margin: 0 0 15px;
}

.top-pick .top-pick-element .picture {
    width: 100%;
    height: 434px;
    position: relative;
    background: #000;
}
.top-pick .top-pick-element .picture img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 434px;
}
.top-pick .top-pick-element .text-part {
    background: linear-gradient(0deg,rgba(0,0,0,0.8666666667),rgba(0,0,0,0.6),rgba(0,0,0,0.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.top-pick .top-pick-element .text-part .title {
    color: #fff;
    font-family: "Merriweather",serif;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    padding: 20px 20px 0;
    position: absolute;
    bottom: 30px;
    line-height: normal;
}
.top-pick .top-pick-element .text-part .title .label {
    text-transform: uppercase;
    font-style: normal;
    font-family: "Merriweather Sans",sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0;
    letter-spacing: .5px;
    display: block;
}
.top-pick .top-pick-element.color-bg .picture {
    background: #b00020;
}
.top-pick .top-pick-element .picture {
    width: 100%;
    height: 434px;
    position: relative;
    background: #000;
}
.top-pick .top-pick-element .picture img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 434px;
}
.black-bg {
    background: #000;
    width: 100%;
}
.featured .img-banner .img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    --bs-aspect-ratio: calc(9 / 16 * 100%);
}
.featured .img-banner .img::before {
    display: block;
   
}
.featured .img-banner .img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
 
}
.featured .img-banner .content {
    background: linear-gradient(90deg,#000,rgba(0,0,0,0.7333333333),rgba(0,0,0,0.6),rgba(0,0,0,0.4),rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0.6666666667),#000);
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.featured .img-banner .content .title-patch .icon {
    width: 38px;
    height: 38px;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
.featured .img-banner .content .text {
    font-size: 50px;
    line-height: 58px;
    width: 50%;
    color: #fff;
}
.featured .img-banner .content .author {
    display: block;
    width: 100%;
    margin: 25px 0;
}

.featured .img-banner .content .author .author-name {
    color: #fff;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.featured .img-banner .content .title-patch {
    margin: 60px 0 30px;
    color: #fff;
}
.featured .img-banner .content .arrow-link img {
    max-width: 100px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
}
.featured .img-banner .content .arrow-link .small-link {
    font-size: 14px;
    font-family: "Merriweather Sans",sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}
h2.black-text {
    text-align: center;
    font-size: 28px;
    color: #b00020;
    background: #fff;
    padding: 0 20px;
   
    margin: 25px auto;
    font-weight: 900;}

    img.media-object.adaptive.placeholder {
        display: inline-block;
        min-height: 1em;
        vertical-align: middle;
        cursor: wait;
        background-color: currentcolor;
        opacity: 1;
    }
    a.person-name.lnk {
        color: #b00020;
    }
    .element .label a{
        color: #b00020;
        text-transform: uppercase;
        font-family: "Merriweather Sans",sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        margin: 15px 0 5px;
    }
    h3.title.big a {
        font-family: "Merriweather",serif;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        margin: 10px 0 20px;
        color: #000;
        text-decoration: none;
    }
    .box-line-title {
        position: relative;
        height: 60px;
    }
    .box-line-title::before {
        content: "";
        width: calc(100% + 40px);
        height: 90px;
        border: 1px solid rgba(0,0,0,0.2509803922);
        border-bottom: none;
        left: -20px;
        position: absolute;
        top: 23px;
        z-index: -1;
    }
    .box-line-title h2 {
        text-align: center;
        font-size: 38px;
        color: #000;
        margin: 0 auto 10px;
        background: #fff;
        padding: 0 20px;
        font-family: "Playfair Display",serif;
        font-weight: 900;
        width: max-content;
    }
    .box-line-title h3, .box-line-title h1, .box-line-title h2 {
        text-align: center;
        font-size: 38px;
        color: #000;
        margin: 0 auto 10px;
        background: #fff;
        padding: 0 20px;
        font-family: "Playfair Display",serif;
        font-weight: 900;
        width: max-content;
    }

    .box-line-title h2 .sub-title {
        display: block;
        color: #b00020;
        font-size: 30px;
        font-family: "Playfair Display",serif;
        font-weight: 900;
    }
    /* .equal-height .col-12 {
        display: table-cell;
        vertical-align: top;
    } */
    /* .element.bigger .title {
        font-size: 28px;
        /* line-height: 36px; */
      
    } */
    /* h3 .title .mt-0{
        font-family: "Merriweather",serif;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        margin: 10px 0 20px;
        color: #000;
    } */
    .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12.after-border-right {
        border-right: 1px solid lightgrey;
    }
    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.after-border-left.tab-no-side-border {
        border-left: 1px solid lightgrey;
    }
    .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12.after-border-right {
     
        border-right: 1px solid lightgrey;
    }

    .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12.after-border-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    footer {
        background-color: #f2f2f2;
    }

    footer .footer-logo {
        width: auto;
        padding: 30px 0 30px 0;
    }
    footer .app-icon {
        display: inline;
        float: right;
    }
    .footer-list {
        padding: 0;
         margin: 0; 
         list-style: none;
    }
    .footer-list .title4 {
        list-style: none;
    }
    footer .footer-menu h5 {
        font-size: 14px;
        line-height: normal;
        font-family: "Merriweather Sans",sans-serif;
        color: #000;
        padding: 10px 0 0;
        margin: 0;
        border-top: 5px solid #000;
        font-weight: 800;
    }
    footer .footer-menu h5 span {
        font-weight: 800;
        font-family: "Merriweather Sans",sans-serif;
    }
    .footer-list .title4 .footer-sub-list {
        padding: 0;
        margin: 12px 0 30px;
        list-style: none;
    }
    .footer-list .title4 .footer-sub-list li {
        list-style: none;
        font-size: 14px;
        line-height: normal;
        font-family: "Merriweather Sans",sans-serif;
        color: #000;
        margin: 7px 0;
    }
    .footer-list .title4 .footer-sub-list li a {
        padding: 3px 0;
        display: inline-block;
        font-family: "Merriweather Sans",sans-serif;
        text-decoration: none;
        color: black;
    }
    .footer-list .title4 .footer-sub-list {
        padding: 0;
        margin: 12px 0 30px;
        list-style: none;
    }
    footer .footer-menu h5 {
        font-size: 14px;
        line-height: normal;
        font-family: "Merriweather Sans",sans-serif;
        color: #000;
        padding: 10px 0 0;
        margin: 0;
        border-top: 5px solid #000;
        font-weight: 800;
    }
    footer .footer-menu .footer-menu-list {
        list-style: none;
        display: inline-block;
        padding: 0;
        width: 100%;
    }
    footer .footer-menu .footer-menu-list li {
        font-size: 14px;
        line-height: normal;
        font-family: "Merriweather Sans",sans-serif;
        color: #000;
        margin: 2px 0;
        position: relative;
        border-bottom: 1px solid #999;
        padding: 10px 0;
    }
    footer .footer-menu .footer-menu-list li a {
        font-family: "Merriweather Sans",sans-serif;
        color: black;
        text-decoration: none;
    }
    .pb-5 {
        padding-bottom: 3rem!important;
    }
    footer .footer-social-icon {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0 0 20px;
    }
    footer .footer-social-icon li {
        display: inline;
        margin: 0 5px 0 0;
    }
    footer .link-list {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
    }
    footer .link-list li {
        display: inline-block;
        position: relative;
        margin-right: 15px;
    }
    footer .link-list li a {
        font-size: 12px;
        line-height: normal;
        color: #000;
        text-decoration: none;
        font-family: "Merriweather Sans",sans-serif;
    }
    footer .link-list li a::before {
        color: #6c757d;
        content: "/";
        position: absolute;
        left: -12px;
        top: -2px;
        font-size: 12px;
    }
    footer .copyrights {
        margin-bottom: 5px;
        color: #000;
    }
    .back-to-top p {
        float: right;
        right: 0;
        bottom: 0;
        font-size: 13px;
        font-family: "Merriweather Sans",sans-serif;
        font-weight: bold;
    }
    footer .copyrights a {
        font-size: 12px;
        line-height: normal;
        font-family: "Merriweather Sans",sans-serif;
        color: #000;
    }
    @media screen  and (max-width:600px)
    {
        .col-sm-2.nav{
            width: 70px;
    border-top: 4px solid #000;
    margin: 5px;
        
      }  
      .nav h3 {
        margin-top: 0;
        padding: 0;
        height: 20px;
        font-size: 10px;
        font-weight: 600;
     

    }
    .col-3{
        width:10]%;
    }

    
    }